<div class="container">
    <div class="container-artista">
        <div class="avatar-name">
            <div class="caja_img">
                <img src="../../../assets/images/artista1.jpg" alt="" />
            </div>
            <div class="datos-single">
                <h1>{{ user.user_name }}
                    <i class="fab fa-linkedin-in"></i><i class="fab fa-facebook"></i></h1>
                <p>{{ user.discipline_id }}</p>
            </div>
        </div>
        <div class="description-single">
            <p>{{ user.biography }}</p>
            <button mat-raised-button (click)="seeEditProfile()">EDITAR</button>
            <button mat-raised-button (click)="deleteUser()" class="buttonDeleteUser">BORRAR</button>

        </div>
        <div class="proyectos-edit">
            <div class="proyectos">
                <div class="product-single">
                    <img src="../../../assets/images/proyecto1.jpeg">
                </div>
                <div class="product-single">
                    <img src="../../../assets/images/proyecto2.jpg">
                </div>
                <div class="product-single">
                    <img src="../../../assets/images/proyecto3.png">
                </div>
                <div class="product-single">
                    <img src="../../../assets/images/proyecto4.jpg">
                </div>
                <div class="product-single">
                    <img src="../../../assets/images/proyecto5.jpg">
                </div>
                <div class="product-single">
                    <img src="../../../assets/images/proyecto6.jpeg">
                    <!-- <button class="fa fa-feather-alt edit-product" *ngIf="seeEditArtist === true"></button> -->
                </div>
            </div>
            <div class="button-add">
                <button mat-raised-button>
               AÑADIR PRODUCTOS</button>
                <input type="file" #inputFile (change)="onImageChanged($event)">


            </div>
        </div>
    </div>
    <div class="container-publish">
        <app-advertisement></app-advertisement>
    </div>
    <app-artists-form-update *ngIf="editProfile"></app-artists-form-update>

</div>