<ng-container class="container" *ngIf="user">
    <div class="background-header">
        <div class="fondo">
            <img src="../../../assets/images/fondoguitarra.jpg" alt="" />
        </div>
        <div class="container-artista">
            <div class="avatar-name">
                <div class="caja_img">
                    <img [src]="user.avatar ? imageUrl + user.avatar : defaultImg" alt="">
                </div>
                <div class="datos-single">

                    <h1>{{ user.user_name }}
                        <i class="fab fa-linkedin-in"></i><i class="fab fa-facebook"></i></h1>
                    <p *ngFor="let discipline of disciplines">{{ discipline.discipline_name }}</p>


                </div>
            </div>
            <div class="description-single">
                <p>{{ user.biography }}</p>
                <button class="button-single" *ngIf="isLoggedIn" (click)="seeEditProfile()">
          EDITAR
        </button>
                <button class="button-single" *ngIf="isLoggedIn" (click)="deleteUser()">
          BORRAR
        </button>


                <!-- Editar perfil completo -->
                <button class="button-single" *ngIf="isLoggedIn" [routerLink]="['/complete-artists-form', user.user_id]">
        EDIT PROFILE
        </button>
                <button class="button-single" *ngIf="isLoggedIn" (click)="editCredentials()">
            EDITAR MAIL AND PASSWORD
          </button>
            </div>
        </div>
        <div class="proyectos-edit">
            <div class="proyectos">
                <div class="product-single cajaProducto" *ngFor="let product of products | paginate: { itemsPerPage: 3, currentPage: page }">
                    <img src="../../../assets/images/{{ product.product_photo }}" />
                    <mat-icon *ngIf="iconEdit && isLoggedIn" class="icon-edit" (click)="seeEditProfile(product)"> border_color</mat-icon>
                </div>
            </div>
            <pagination-controls class="my-pagination" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente" autoHide="true"></pagination-controls>

            <div class="button-add"></div>
            <div class="button-add" *ngIf="isLoggedIn">
                <button class="button-single" (click)="editProduct()">
          EDITAR PRODUCTOS
        </button>
                <button class="button-single">AÑADIR PRODUCTOS</button>
                <input type="file" #inputFile (change)="onImageChanged($event)" />
            </div>
        </div>
    </div>
    <!-- <div class="container-publish">
        <app-advertisement></app-advertisement>

    </div>
    <app-products-form-update (formSubmitted)="saveProduct($event)"></app-products-form-update> -->
</ng-container>
<!-- <app-artists-form-update *ngIf="editProfile"></app-artists-form-update> -->

<!-- </div> -->