<div class="container">
    <div class="background-header">
        <div class="fondo">
            <img src="../../../assets/images/fondoguitarra.jpg" alt="">
        </div>

        <div class="description-single">
            <p>{{ user.biography }}</p>
            <button mat-raised-button (click)="seeEditProfile('')">EDITAR</button>
            <button mat-raised-button (click)="deleteUser()" class="buttonDeleteUser">BORRAR</button>
        <div class="container-artista">
            <div class="avatar-name">
                <div class="caja_img">
                    <img src="../../../assets/images/artista1.jpg" alt="" />
                </div>
                <div class="datos-single">
                    <h1>{{ user.user_name }}
                        <i class="fab fa-linkedin-in"></i><i class="fab fa-facebook"></i></h1>
                    <p>{{ user.discipline_id }}</p>
                </div>
            </div>
            <div class="description-single">
                <p>{{ user.biography }}</p>
                <button mat-raised-button (click)="seeEditProfile(false)">EDITAR</button>
                <button mat-raised-button (click)="deleteUser()" class="buttonDeleteUser">BORRAR</button>

            </div>
        </div>
        <div class="proyectos-edit">
            <div class="proyectos">

                <div class="product-single cajaProducto" *ngFor="let product of products">
                    <img src="../../../assets/images/{{product.product_photo}}">
                    <mat-icon *ngIf="iconEdit" class="icon-edit" (click)="seeEditProfile(product)"> border_color</mat-icon>

                </div>
            </div>
            <div class="button-add">

            </div>
            <div class="button-add">
                <button mat-raised-button (click)="editProduct()">
                    EDITAR PRODUCTOS
                </button>
                <button mat-raised-button>
                    AÑADIR PRODUCTOS
                </button>
                <input type="file" #inputFile (change)="onImageChanged($event)">
            </div>
        </div>
    </div>
    <!-- <div class="container-publish">
        <app-advertisement></app-advertisement>

    </div>
    <!-- <app-products-form-update (formSubmitted)="saveProduct($event)"></app-products-form-update> -->
    </div> -->
    <!-- <app-artists-form-update *ngIf="editProfile"></app-artists-form-update> -->


</div>