<header>
    <div class="logo">
        <img class="logoHeader" src="assets/images/logo.png" alt="" routerLink="/">
    </div>
    <nav>
        <ul>
            <li>
                <mat-icon routerLink="/">home</mat-icon>
            </li>
            <li>
                <mat-icon routerLink="/artistas">search</mat-icon>
            </li>
            <li *ngIf="!isLoggedIn">
                <mat-icon routerLink="/login">perm_identity</mat-icon>
            </li>
            <li *ngIf="!isLoggedIn">
                <mat-icon [routerLink]="['/artists-form']">list_alt</mat-icon>
            </li>
            <li>
                <mat-icon routerLink="/cart">shopping_cart</mat-icon>
            </li>

            <li *ngIf="isLoggedIn">
                <mat-icon (click)="logout()">logout</mat-icon>
            </li>
            <li *ngIf="isLoggedIn" class="avatar-name tooltip">
                <img *ngIf="isLoggedIn" src="http://localhost:3000/images/uploads/{{user && user.avatar}}" alt="" [routerLink]="[profileRoute]" />
                <span class="tooltiptext">{{user && user.artistic_name}}</span>
            </li>
        </ul>
    </nav>
</header>
