<header>
    <img class="logoHeader" src="assets/images/logo.png" alt="">
    <nav>
        <ul>
            <li>
                <mat-icon>home</mat-icon>
            </li>
            <li>
                <mat-icon>search</mat-icon>
            </li>
            <li>
                <mat-icon>login</mat-icon>
            </li>
            <li>
                <mat-icon>shopping_cart</mat-icon>
            </li>
            <li>
                <mat-icon>store</mat-icon>
            </li>
        </ul>
    </nav>
</header>