<header>
    <img class="logoHeader" src="assets/images/logo.png" alt="" routerLink="/">
    <nav>
        <ul>
            <li>
                <mat-icon routerLink="/">home</mat-icon>
            </li>
            <li>
                <mat-icon routerLink="/artistas">search</mat-icon>
            </li>
            <li>
                <mat-icon routerLink="/login">login</mat-icon>
            </li>
            <li>
                <mat-icon [routerLink]="['/productos']">store</mat-icon>
            </li>
            <li>
                <mat-icon>shopping_cart</mat-icon>
            </li>
        </ul>
    </nav>
</header>