<div class="header-artistas">
    <h1>TODOS NUESTROS ARTISTAS</h1>
</div>

<div class="grid-artistas">
    <div class="card">
        <img src="../../../assets/images/logonofoto.png" alt="">
        <h3>MARC FILCH</h3>
        <p>CANTANTE</p>
        <p>Bajista y percusionista</p>
    </div>
    <div class="card">
        <img src="" alt="">
        <h3>MARC FILCH</h3>
        <p>CANTANTE</p>
        <p>Bajista y percusionista</p>
    </div>
    <div class="card">
        <img src="" alt="">
        <h3>MARC FILCH</h3>
        <p>CANTANTE</p>
        <p>Bajista y percusionista</p>
    </div>
    <div class="card">
        <img src="" alt="">
        <h3>MARC FILCH</h3>
        <p>CANTANTE</p>
        <p>Bajista y percusionista</p>
    </div>
    <div class="card">
        <img src="" alt="">
        <h3>MARC FILCH</h3>
        <p>CANTANTE</p>
        <p>Bajista y percusionista</p>
    </div>
    <div class="card">
        <img src="" alt="">
        <h3>MARC FILCH</h3>
        <p>CANTANTE</p>
        <p>Bajista y percusionista</p>
    </div>
    <div class="card">
        <img src="" alt="">
        <h3>MARC FILCH</h3>
        <p>CANTANTE</p>
        <p>Bajista y percusionista</p>
    </div>
    <div class="card">
        <img src="" alt="">
        <h3>MARC FILCH</h3>
        <p>CANTANTE</p>
        <p>Bajista y percusionista</p>
    </div>
</div>
