<!-- main app container -->
<div class="center white">
    <div class="parallelogram">
        <h3>LOGIN</h3>
        <form class="center " [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="center formPadding">
                <label>EMAIL</label>
                <input type="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && loginForm.email.errors }" />
                <div class="errorColor" *ngIf="submitted && loginForm.email.errors">
                    <div *ngIf="loginForm.email.errors.required">Introduce tu email</div>
                    <div *ngIf="loginForm.email.errors.email">Debe ser un email válido</div>
                </div>
            </div>

            <div class="center">
                <label>CONTRASEÑA</label>
                <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && loginForm.password.errors }" />
                <div class="errorColor" *ngIf="submitted && loginForm.password.errors">
                    <div *ngIf="loginForm.password.errors.required">Inserta Contraseña</div>
                    <div *ngIf="loginForm.password.errors.minlength">Mínimo 4 caracteres</div>
                </div>
            </div>
            <div class="formPadding">
                <button mat-raised-button>
                            INICIAR SESION
                          </button>
            </div>
        </form>
    </div>
</div>