<div class="container">
    <div class="container-artista">
        <div class="avatar-name">
            <div class="caja_img">
                <img src="../../../assets/images/artista1.jpg" alt="" />
            </div>
            <div class="datos-single">
                <h1>MARC FILCH<button class="fa fa-feather-alt"></button>
                    <i class="fab fa-linkedin-in"></i><i class="fab fa-facebook"></i></h1>
                <p>Cantante y bajista<button class="fa fa-feather-alt"></button></p>

            </div>
        </div>
        <div class="description-single">
            <p>Cantante y bajista con años de trayectoria he actuado en diferentes escenarios creador del grupo Batmans, actualmente actúo en solitario y estoy contento de presentaros mi primer single.<button class="fa fa-feather-alt"></button></p>
            <button mat-raised-button>
              EDITAR PERFIL
            </button>
        </div>
        <div class="proyectos-edit">
            <div class="proyectos">
                <div class="product-single">
                    <img src="../../../assets/images/proyecto1.jpeg">
                    <button class="fa fa-feather-alt edit-product"></button>
                </div>
                <div class="product-single">
                    <img src="../../../assets/images/proyecto2.jpg">
                    <button class="fa fa-feather-alt edit-product"></button>
                </div>
                <div class="product-single">
                    <img src="../../../assets/images/proyecto3.png">
                    <button class="fa fa-feather-alt edit-product"></button>
                </div>
                <div class="product-single">
                    <img src="../../../assets/images/proyecto4.jpg">
                    <button class="fa fa-feather-alt edit-product"></button>
                </div>
                <div class="product-single">
                    <img src="../../../assets/images/proyecto5.jpg">
                    <button class="fa fa-feather-alt edit-product"></button>
                </div>
                <div class="product-single">
                    <img src="../../../assets/images/proyecto6.jpeg">
                    <button class="fa fa-feather-alt edit-product"></button>
                </div>
            </div>
            <div class="button-add">
                <button mat-raised-button>
              AÑADIR PRODUCTOS<i class="fas fa-cloud-upload-alt"></i>
            </button>
            </div>
        </div>
    </div>
    <app-anuncio-pyme></app-anuncio-pyme>
</div>
