<div class="container">
    <div class="container-artista">
        <div class="avatar-name">
            <div class="caja_img">
                <img src="../../../assets/images/artista1.jpg" alt="" />
            </div>
            <div class="datos-single">
                <h1>MARC FILCH<button class="fa fa-feather-alt"></button></h1>
                <p>Cantante y bajista<button class="fa fa-feather-alt"></button></p>
            </div>
        </div>
        <div class="description-single">
            <p>Cantante y bajista con años de trayectoria he actuado en diferentes escenarios creador del grupo Batmans, actualmente actúo en solitario y estoy contento de presentaros mi primer single.<button class="fa fa-feather-alt"></button></p>
        </div>
        <div class="proyectos-edit">
            <button class="fa fa-feather-alt"></button>

            <div class="proyectos">
                <img src="../../../assets/images/proyecto1.jpeg">
                <img src="../../../assets/images/proyecto2.jpg">
                <img src="../../../assets/images/proyecto3.png">
                <img src="../../../assets/images/proyecto4.jpg">
                <img src="../../../assets/images/proyecto5.jpg">
                <img src="../../../assets/images/proyecto6.jpeg">
            </div>
        </div>





    </div>
    <app-anuncio-pyme></app-anuncio-pyme>
</div>