<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <!-- nombre -->
        <div class="form col s12">
            <div class="input-field col s2">
                <label class="active" for="first_name2">Nombre del anuncio</label>
                <input value="Alvin" id="first_name2" type="text" class="validate" formControlName="advertisement_name">

            </div>
            <!-- localizacion -->
            <div class="input-field col s2">
                <label class="active" for="first_name2">Provincia</label>
                <select class="formPadding" formControlName="location">
              <option value=""></option>
              <option *ngFor="let location of locations" value="{{location}}">
                      {{ location }}
              </option>
              </select>
            </div>
            <!-- disciplina -->
            <div class="input-field col s2">
                <label class="active" for="first_name2">Disciplina</label>
                <select class="formPadding" formControlName="discipline_name">
              <option value=""></option>
              <option *ngFor="let item of disciplines" ngValue="{{item.discipline_name}}">{{item.discipline_name}}</option>
          </select> </div>
            <!-- tags -->
        </div>
        <!-- boton -->
        <div class="button">
            <button class="button-search" type="submit"> BUSCAR</button>
        </div>
    </div>
</form>

