
.empty_cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .description {
        text-align: center;
    }
    .mat-icon {
        font-size: 200px;
        color:rgba(16, 16, 16, 0.995);
        margin: 77px;
        width: 250px;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 7px solid rgba(16, 16, 16, 0.995);
        border-radius: 50%;
        padding: 15px 0px 0px 15px;
    }

    p {
        font-size: 20px;
        font-weight: bold;
    }
    button {
        font-size: 17px;
        color: white;
        background-color:rgba(16, 16, 16, 0.995);
        border: 2px solid rgba(16, 16, 16, 0.995);
        border-radius: 7px;
        width: 154px;
        margin: 18% 0;
        height: 60px;
        font-family: "Quicksand", sans-serif;
        cursor: pointer;

    }
    button:hover {
        background-color: white;
        color: black;
    }
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    hr {
        width: 70vw;
    }
       
}
.mat-raised-button {
    background-color: rgba(0, 0, 0, 0.858);
    margin-top: 0.5rem;
    border: none;
    color: white;
.fa-trash {
    padding-left: 1rem;
 }
}

.container-product {
    margin: 50px 0px 0px 0px;
    width: 65%;
    display: flex;
    justify-content:center;
    align-items: center;
    
        img {
            width: 10rem;
            height: 10rem;
            border-radius: 3px;
            border: 2px solid rgba(0, 0, 0, 0.858);
            object-fit: cover;
        }
       
        .datos-product {
 
            ul{
                list-style: none;
                li{
                    h2 {
                        margin: 5px 0;
                    }
                    p {
                        margin:5px;
                    }
                    .precio{
                        color: darkorange;
                    }
                }
                .change_amount{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        button{
                            width: 20px;
                            height: 20px;
                            text-align: center;
                            margin: 5px;
                            background-color: rgba(0, 0, 0, 0.842);
                            color: white;
                            border: none;
                            border-radius: 2px;
                            font-weight: bold;
                            font-size: 15px;

                        }
                        .trash-icon{
                            color:  rgba(0, 0, 0, 0.842);
                            background-color: white;
                            margin-left: 69px;
                        }
                        button:active{
                            color: rgba(0, 0, 0, 0.842);
                            background-color: white;
                            border: 1px solid rgba(0, 0, 0, 0.842);
                        }
                    }
            }
           
            
        
    }

    
}
h3 {
    text-align: center;

    span {
        font-size: 25px;
        margin-left: 25px;
    }
}
.iva {
    text-align: center;
}
.buy{
    font-size: 17px;
        color: white;
        background-color:rgba(16, 16, 16, 0.995);
        border: 2px solid rgba(16, 16, 16, 0.995);
        border-radius: 7px;
        width: 154px;
        margin: 18% 0;
        height: 60px;
        font-family: "Quicksand", sans-serif;
        cursor: pointer;
}
.buy:hover {
    background-color: white;
    color: black;
}

@media (max-width: 375px){
    .container-product {
        
     .trash-icon {

        
            margin: 0px;
            padding: 0;
    }
}
}

@media only screen and (max-width: 375px) {
    .container{
        hr,h3{
            margin-left:50rem;
        }
    }
}

