<div class="container">
    <div class="container-product" *ngFor="let product of products">
        <div class="avatar-name">
            <div class="caja_img">
                <img src="http://localhost:3000/images/uploads/{{product.product_photo}}">

            </div>
            <div class="datos-product">
                <ul>
                    <li>
                        <h1>{{ product.product_name }}</h1>
                    </li>
                    <li>
                        <p>{{ product.description }}</p>
                    </li>
                    <li>
                        <p class="precio">{{ product.price }}</p>
                    </li>
                    <li>
                        <p class="cantidad">{{ product.price }}</p>
                    </li>
                </ul>
                <!-- <button (click)="comprarClick(product)">BUY</button> -->
            </div>
        </div>
        <button mat-raised-button>DELETE<i class="fa fa-trash"></i></button>
    </div>
    <div>
        <hr>
        <h3>Total:</h3>
    </div>
</div>
<!-- <td>{{producto.product_id}}</td>
<td>{{producto.product_name | uppercase}}</td>
<td>{{producto.description}}</td>
<td>{{producto.product_photo}}</td>
<td>{{producto.price}}</td>
<td>{{producto.category}}
    <button (click)="aumento()">Añadir Otro</button>
    <button (click)="disminuir()">Quitar</button>
</td>
<td>{{producto.precioOriginal | currency:'EUR'}}
    <div class="precioRebajado" *ngIf="producto.rebaja">{{producto.precioRebajado | currency:'EUR'}}</div> 
     <div *ngIf="!producto.rebaja"></div>
</td>
<td>{{producto.importe | currency:'EUR' }}</td>
<td><button (click)="delete()" class="borrar">Borrar Producto</button> -->