<!-- 3 cosas que tiene que tener el formulario -->
<!-- FORMGROUP => PROPIEDAD CLASE -->
<!-- FORMCONTROL => INPUTS -->
<!-- METODO DEL SUBMIT DEL FORMULARIO -->
<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
    <div class="grid">
        <div class="form-group">
          <label>Nombre</label>
          <input type="text" formControlName="name">
          <!-- <p *ngIf="form.controls.nombre?.errors?.required && form.controls.nombre.touched">*Campo obligatorio</p> -->
        </div>    
        <div class="form-group">
          <label>Categoría</label>
          <select name="" id=""  formControlName="productCategory">
              <!-- <option value=""></option> -->
              <option *ngFor="let item of productCategory" ngValue="item.id">{{item.name}}</option>   
          </select>
        </div>
        <div class="form-group">
            <label>Artista</label>
            <input type="text" formControlName="artist">
        </div>
        <div class="form-group">
            <label>Rango de precios</label>
            <input type="number" min="0" formControlName="minPrice">
            <input type="number" min="0" formControlName="maxPrice">
        </div>
    </div>
    <button type="submit"> Buscar</button>
</form> 

