.anuncios {
    display: grid;
    grid-template-columns: repeat(auto-fit);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    .anuncio1,
    .anuncio2 {
        width: 100%;
    }
}

img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    position: center;
}