
<div class="center white">
    <h3>BIENVENIDO A TU COMUNIDAD ARTISTICA</h3>
    <div class="parallelogram">
        <form class="center " [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="centerRows formPadding">
                <div class="center formPadding">
                    <input type="text" formControlName="artistic_name" placeholder="NOMBRE ARTISTICO" />
                </div>
                <div class="center formPadding">
                    <label class="label">DISCIPLINA ARTISTICA</label>
                    <select formControlName="disciplines" multiple="multiple">
                        <option *ngFor="let discipline of disciplines" [value]="discipline">
                            {{discipline}}
                        </option>
                    </select>
                    <ul>
                        <li class="white" *ngFor="let seleccion of seleccionados">
                          {{seleccion}}
                        </li>
                      </ul>
                </div>
            </div>
            <div class="centerRows formPadding">
                <div class="center formPadding">
                    <input type="text" formControlName="name" placeholder="NOMBRE" class="input"/>
                </div>
                <div class="center formPadding">
                    <input type="text" formControlName="last_name" placeholder="APELLIDOS"/>
                </div>
                <div class="center formPadding">
                    <label class="label">FECHA DE NACIMIENTO</label>
                <input type="date" formControlName="date_of_birth"/>
                </div>
            </div>
            <div class="centerRows formPadding">
                <div class="center formPadding">
                    <input type="text" formControlName="city" placeholder="PROVINCIA"/>
                </div>
                <div class="center formPadding">
                    <input type="textarea" formControlName="presentation" placeholder="BIOGRAFIA"/>
                </div>
            </div>
            <div class="centerRows formPadding">
                <div class="center formPadding">
                    <input type="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && loginForm.email.errors }" placeholder="EMAIL" />
                    <div class="errorColor" *ngIf="submitted && loginForm.email.errors">
                        <div *ngIf="loginForm.email.errors.required">Introduce tu email</div>
                        <div *ngIf="loginForm.email.errors.email">Debe ser un email válido</div>
                    </div>
                </div>
                <div class="center formPadding">
                    <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && loginForm.password.errors }" placeholder="CONTRASEÑA"/>
                    <div class="errorColor" *ngIf="submitted && loginForm.password.errors">
                        <div *ngIf="loginForm.password.errors.required">Inserta Contraseña</div>
                        <div *ngIf="loginForm.password.errors.minlength">Mínimo 6 caracteres</div>
                    </div>
                </div>
                <div class="center formPadding">
                    <input type="password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && loginForm.confirmPassword.errors }" placeholder="REPITE CONTRASEÑA"/>
                    <div class="errorColor" *ngIf="submitted && loginForm.confirmPassword.errors">
                        <div *ngIf="loginForm.confirmPassword.errors.required">Repita contraseña</div>
                        <div *ngIf="loginForm.confirmPassword.errors.mustMatch">Debe coincidir</div>
                    </div>
                </div>
            </div>

            <div class="centerRows formPadding">
                <div class="center formPadding">
                    <input class="custom-file-input" type="file" formControlName="artistic_cv"/>
                </div>
            </div>
            <div class="centerRows formPadding">
                <div class="center formPadding">
                    <input class="custom-file-input2" type="file" formControlName="avatar"/>
                </div>
            </div>
            <!-- <div class="centerRows formPadding">
                <div class="center formPadding">
                    <input class="custom-file-input3" type="file" formControlName="artwork"/>
                </div>
            </div> -->
            <div class="formPadding" >
                <button mat-raised-button>
                    REGISTRATE
                  </button>
            </div>
        </form>
    </div>
</div>



