<!-- <div class="center white">
    <h3>BIENVENIDO A TU COMUNIDAD ARTISTICA</h3>
    <div class="parallelogram">
        <form class="center " [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
            <div class="centerRows formPadding">
                <div class="center formPadding">
                    <input type="text" formControlName="artistic_name" placeholder="NOMBRE ARTISTICO" />
                    <p *ngIf="registerForm.controls.artistic_name?.errors?.required">*Campo obligatorio</p>
                </div>
                <div class="center formPadding">
                    <label class="label">DISCIPLINA ARTISTICA</label>
                    <select formControlName="discipline_name" multiple="multiple">
                      <option *ngFor="let discipline of disciplines" [value]="discipline.discipline_name">
                          {{discipline.discipline_name}}
                      </option>
                  </select>
                    <ul>
                        <li class="white" *ngFor="let seleccion of seleccionados">
                            {{seleccion}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="centerRows formPadding">
                <div class="center formPadding">
                    <input type="text" formControlName="user_name" placeholder="NOMBRE" class="input" />
                    <p *ngIf="registerForm.controls.user_name?.errors?.required">*Campo obligatorio</p>
                </div>
                <div class="center formPadding">
                    <input type="text" formControlName="last_name" placeholder="APELLIDOS" />
                    <p *ngIf="registerForm.controls.last_name?.errors?.required">*Campo obligatorio</p>
                </div>
                <div class="center formPadding">
                    <label class="label">FECHA DE NACIMIENTO</label>
                    <input type="date" formControlName="date_of_birth" />
                    <p *ngIf="registerForm.controls.date_of_birth?.errors?.required">*Campo obligatorio</p>
                </div>
            </div>
            <div class="centerRows formPadding">
                <div class="center formPadding">

                    <input type="text" formControlName="location" placeholder="PROVINCIA" />
                    <p *ngIf="registerForm.controls.location?.errors?.required ">*Campo obligatorio</p>
            <select formControlName="location">
                        <option *ngFor="let location of locations">{{location}}</option>
                    </select>

                </div>
            </div>
            <div class="centerRows formPadding">
                <div class="center formPadding">
                    <input type="email" formControlName="mail" [ngClass]="{ 'is-invalid': submitted && loginForm.mail.errors }" placeholder="EMAIL" />
                    <div class="errorColor" *ngIf="submitted && loginForm.mail.errors">
                        <div *ngIf="loginForm.mail.errors.required">Introduce tu email</div>
                        <div *ngIf="loginForm.mail.errors.mail">Debe ser un email válido</div>
                        <p *ngIf="registerForm.controls.mail?.errors?.required">*Campo obligatorio</p>
                    </div>
                </div>
                <div class="center formPadding">
                    <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && loginForm.password.errors }" placeholder="CONTRASEÑA" />
                    <div class="errorColor" *ngIf="submitted && loginForm.password.errors">
                        <div *ngIf="loginForm.password.errors.required">Inserta Contraseña</div>
                        <div *ngIf="loginForm.password.errors.minlength">Mínimo 6 caracteres</div>
                    </div>
                </div>
                <div class="center formPadding">
                    <input type="password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && loginForm.confirmPassword.errors }" placeholder="REPITE CONTRASEÑA" />
                    <div class="errorColor" *ngIf="submitted && loginForm.confirmPassword.errors">
                        <div *ngIf="loginForm.confirmPassword.errors.required">Repita contraseña</div>
                        <div *ngIf="loginForm.confirmPassword.errors.mustMatch">Debe coincidir</div>
                    </div>
                </div>
            </div>
            <div class="formPadding">
                <button mat-raised-button type="submit ">

                  REGISTRATE
                </button>
            </div>
        </form>
    </div>
</div>
 -->
<div class="form">
    <div class="container">
        <header>
            <h1 id="title">
                <span class="sr-only">Artistazos </span>
            </h1>
            <h2 *ngIf="!userId">Formulario de registro</h2>
            <h2 *ngIf="userId">Modifica tus datos de registro</h2>
        </header>
        <form id="survey-form" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
            <div id="name-div">
                <div class="first-name-div">
                    <label for="name" id="name-label">Nombre artístico</label>
                    <input class="uppercase" type="text" id="artistic_name" name="first-name" placeholder="Nombre atístico" class="form-control" formControlName="artistic_name" />
                    <div class="errorColor" *ngIf="submitted && loginForm.artistic_name.errors">
                        <div *ngIf="loginForm.artistic_name.errors.required">
                            *Campo obligatorio
                        </div>
                    </div>
                </div>


                <div class="first-name-div">
                    <label for="name" id="name-label">Nombre </label>
                    <input type="text" id="user_name" name="first-name" placeholder="Nombre " class="form-control" formControlName="user_name" />
                    <div class="errorColor" *ngIf="submitted && loginForm.user_name.errors">
                        <div *ngIf="loginForm.user_name.errors.required">
                            *Campo obligatorio
                        </div>
                    </div>
                </div>
                <div class="first-name-div">
                    <label for="name" id="name-label">Apellidos </label>
                    <input type="text" id="last_name" name="last-name" placeholder="Apellidos " class="form-control" formControlName="last_name" />
                    <div class="errorColor" *ngIf="submitted && loginForm.last_name.errors">
                        <div *ngIf="loginForm.last_name.errors.required">
                            *Campo obligatorio
                        </div>
                    </div>
                </div>
            </div>
            <!-- siguiente linea -->
            <div id="name-div">
                <div class="first-name-div">
                    <label for="name" id="name-label">Fecha de nacimiento</label>
                    <input type="date" id="date_of_birth" name="first-name" class="form-control" formControlName="date_of_birth" />
                    <div class="errorColor" *ngIf="submitted && loginForm.date_of_birth.errors">
                        <div *ngIf="loginForm.date_of_birth.errors.required">
                            *Campo obligatorio
                        </div>
                    </div>
                </div>

                <div class="first-name-div">
                    <label for="location" id="location-label">Localización</label>
                    <select id="dropdown" class="form-control" formControlName="location">
            <option *ngFor="let location of locations">
              {{ location }}
            </option>
          </select>
                </div>

            </div>

            <div id="name-div">
                <div class="first-name-div">

                    <label for="email" id="email-label">Email</label>
                    <input type="email" id="mail" name="email" placeholder="email@email.com" class="form-control" formControlName="mail" [ngClass]="{ 'is-invalid': submitted && loginForm.mail.errors }" placeholder="email" />
                    <div class="errorColor" *ngIf="submitted && loginForm.mail.errors">
                        <div *ngIf="loginForm.mail.errors.required">*Campo obligatorio</div>
                    </div>
                </div>
                <div class="first-name-div">
                    <label for="dropdown" id="dropdown-label">Selecciona tus disciplinas artísticas</label>
                    <mat-select id="dropdown" class="form-control" [formControl]="selectDisciplines" multiple="multiple" placeholder="músico, bailarín/a, pintor/a, escritor/a.... ">
                        <mat-option *ngFor="let discipline of disciplines" [value]="discipline.discipline_name" (click)="clickDiscipline()">
                            {{ discipline.discipline_name }}
                        </mat-option>
                    </mat-select>
                </div>
            </div>

            <div id="name-div">
                <div class="last-name-div" *ngIf="userId">
                    <label for="password" id="password" [ngClass]="{ 'is-invalid': submitted && loginForm.password.errors }">Antigua Contraseña</label
          >
          <input
            type="password"
            id="last-name"
            name="last-name"
            placeholder="Password"
            class="form-control"
            formControlName="password"
          />
          <div
            class="errorColor"
            *ngIf="submitted && loginForm.password.errors"
          >
            <div *ngIf="loginForm.password.errors.required && userId">
              *Inserta Contraseña
            </div>
            <div *ngIf="loginForm.password.errors.minlength">
              *Mínimo 4 caracteres
            </div>
          </div>
        </div>
        <div class="last-name-div">
          <label *ngIf="!userId"
            for="last-name"
            id="last-name-label"
            [ngClass]="{ 'is-invalid': submitted && loginForm.password.errors }"
            >Contraseña</label
          >
          <label *ngIf="userId"
            for="last-name"
            id="last-name-label"
            [ngClass]="{ 'is-invalid': submitted && loginForm.password.errors }"
            >Nueva contraseña</label
          >
          <input *ngIf="!userId"
            type="password"
            id="last-name"
            name="last-name"
            placeholder="Password"
            class="form-control"
            formControlName="password"
          />
          <input *ngIf="userId"
            type="password"
            id="last-name"
            name="last-name"
            placeholder="Nueva contraseña"
            class="form-control"
            formControlName="password"
          />
          <div
            class="errorColor"
            *ngIf="submitted && loginForm.password.errors"
          >
            <div *ngIf="loginForm.password.errors.required">
              *Inserta Contraseña
            </div>
            <div *ngIf="loginForm.password.errors.minlength">
              *Mínimo 4 caracteres
            </div>
          </div>
        </div>

        <div class="last-name-div">
          <label
            for="last-name"
            id="password"
            [ngClass]="{ 'is-invalid': submitted && loginForm.password.errors }"
            >Confirma tu contraseña</label
          >
          <input
            type="password"
            id="last-name"
            name="last-name"
            placeholder="Confirma tu password"
            class="form-control-password"
            formControlName="confirmPassword"
          />
          <div
            class="errorColor"
            *ngIf="submitted && loginForm.confirmPassword.errors"
          >
            <div *ngIf="loginForm.confirmPassword.errors.required">
              *Repita contraseña
            </div>
            <div *ngIf="loginForm.confirmPassword.errors.mustMatch">
              *Debe coincidir
            </div>
          </div>
        </div>













      </div>

      <button *ngIf="userId" id="submit" type="submit">Guardar</button>
      <button *ngIf="!userId" id="submit" type="submit">Registrate</button>

    </form>
  </div>
</div>
