<form [formGroup]="form">
    <div class="grid">
        <div *ngIf="data.type == '1'" class="form-group">
            <label>Nombre Artístico</label>
            <input class="uppercase" type="text" formControlName="artistic_name">
            <!-- <p *ngIf="form.controls.artistic_name?.errors?.required && form.controls.artistic_name.touched">*Campo obligatorio</p> -->
        </div>
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" formControlName="user_name">
            <p *ngIf="form.controls.user_name?.errors?.required && form.controls.user_name.touched">*Campo obligatorio</p>
        </div>
        <div class="form-group">
            <label>Descripcion</label>
            <input type="text" min="0" formControlName="biography">
            <p *ngIf="form.controls.biography?.errors?.required && form.controls.biography.touched">*Campo obligatorio</p>
        </div>
        <!-- <div class="form-group">
            <label>Avatar</label>
            <input type="file" formControlName="avatar">
            <p *ngIf="form.controls.avatar?.errors?.required && form.controls.avatar.touched">*Campo obligatorio</p>
        </div> -->
        <div class="form-group">
            <label>Tags</label>
            <input type="text" min="0" formControlName="tag" (keypress)="addTag($event)" id="tag">
            <div class="container-tags">
                <button *ngFor="let tag of tags"><button (click)="removeTag(tag)"><span>X</span></button><span> {{tag}}</span></button>

            </div>

            <p *ngIf="form.controls.tag?.errors?.required && form.controls.tag.touched">*Campo obligatorio</p>
        </div>
        <div class="form-group">

            <label *ngIf="data.type == '1'" for="dropdown" id="dropdown-label">Selecciona tus disciplinas artísticas</label>
            <label *ngIf="data.type == '2'" for="dropdown" id="dropdown-label">Selecciona tus intereses artísticos</label>
            <mat-select
              id="dropdown"
              class="form-control"
              [formControl]="selectDisciplines"
              multiple="multiple"
              placeholder="músico, bailarín/a, pintor/a, escritor/a.... "
            >
              <mat-option *ngFor="let discipline of disciplines" [value]="discipline.discipline_name" (click)="clickDiscipline()" >
                {{ discipline.discipline_name }}
              </mat-option>
            </mat-select>
        </div>

        <div class="form-group">
        </div>
        <div class="form-group">
            <label>EDITAR FOTO DE PERFIL</label>
            <div class="flex-between">
                <input type="file" #inputFile (change)="onImageChanged($event)" accept="image/*">
                <img type="file" [src]="imgPreview" alt="FOTO PERFIL" (click)="inputFile.click()">
            </div>
        </div>
        <div class="form-group">
            <label>EDITAR FOTO DE PORTADA</label>
            <div class="flex-between">
                <input type="file" #inputFrontFile (change)="onFrontChanged($event)">
                <img [src]="imgFrontPreview" alt="FOTO PORTADA" (click)="inputFrontFile.click()">
            </div>
        </div>
    </div>

    <button class="button-see-more" [mat-dialog-close]="generateFormData()" type="submit">GUARDAR</button>
</form>
