
<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
    <div class="grid">
        <div class="form-group">
            <label>Nombre artístico</label>
            <input type="text" formControlName="artistic_name">
          </div>
         
        <div class="form-group">
          <label>Nombre</label>
          <input type="text" formControlName="name">
        </div>    
        <div class="form-group">
          <label>Categoría</label>
          <select name="" id=""  formControlName="productCategory">
              <option *ngFor="let item of productCategory" ngValue="item.id">{{item.name}}</option>   
          </select>
        </div>
        <div class="form-group">
            <label>Artista</label>
            <input type="text" formControlName="artist">
        </div>
        <div class="form-group">
            <label>Rango de precios</label>
            <input type="number" min="0" formControlName="minPrice">
            <input type="number" min="0" formControlName="maxPrice">
        </div>
    </div>
    <button type="submit"> Buscar</button>
</form> 

