<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
    <div class="grid">
        <div class="formPadding">
            <label class="formPadding">Nombre</label>
            <input type="text" formControlName="user_name">
        </div>

        <div class="formPadding">
            <label class="formPadding">Apellido</label>
            <input type="text" formControlName="last_name">
        </div>
        <div class="formPadding">
            <label class="formPadding">Nombre artístico</label>
            <input type="text" formControlName="artistic_name">
        </div>
        <div class="formPadding">
            <label class="formPadding">Localidad</label>
            <input type="text" formControlName="location">
        </div>
        <div class="formPadding">
            <label class="formPadding">Disciplina</label>
            <select name="" id="" formControlName="discipline">
              <option *ngFor="let item of disciplines" ngValue="item.id">{{item.name}}</option>
          </select>
        </div>
        <div class="formPadding">
            <label class="formPadding">Palabra clave</label>
            <input type="text" formControlName="tag">
        </div>
    </div>
    <div class="grid">
        <button class="button-search" type="submit"> BUSCAR</button>
    </div>
</form>