<form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="row">
    <div class="grid">
        <div class="form">
            <div class="formPadding">
                <label class="formPadding">Nombre</label>
                <input type="text" formControlName="user_name">
            </div>
        </div>
        <div class="form">
            <div class="formPadding">
                <label class="formPadding">Apellido</label>
                <input type="text" formControlName="last_name">
            </div>
        </div>
        <div class="form">
            <div class="formPadding">
                <label class="formPaddingArtist">Nombre artístico</label>
                <input type="text" formControlName="artistic_name">
            </div>
        </div>
        <div class="form">
            <div class="formPaddingLocalizacion">
                <label class="formPadding">Localización</label>
                <select class="formPadding" formControlName="location">
          <option value=""></option>
          <option *ngFor="let location of locations" value="{{location}}">
                  {{ location }}
          </option>
          </select>
            </div>
        </div>
        <div class="form">
            <div class="formPaddingDisciplina">
                <label class="formPadding">Disciplina</label>
                <select class="formPadding" formControlName="discipline_name">
              <option value=""></option>
              <option *ngFor="let item of disciplines" ngValue="{{item.discipline_name}}">{{item.discipline_name}}</option>
          </select>
            </div>
        </div>
        <div class="form">
            <div class="formPaddingformPaddingClave">
                <label class="formPaddingClave">Palabra clave</label>
                <input type="text" formControlName="tag">
            </div>
        </div>
    </div>
    <div>
        <button class="button-search" type="submit"> BUSCAR</button>
    </div>
</form>