@import "/src/app/login/login.component.scss";
@import "/src/app/artists/artists-grid/artists-grid.component.scss";
form {
    color: rgb(36, 36, 36);
    .grid {
        display: flex;
        align-items: center;
        justify-content: center;
        .button-search {
            border-radius: 20px;
            border: 1px solid #1c1c1c;
            background-color: #1c1c1c;
            color: #FFFFFF;
            font-size: 12px;
            font-weight: bold;
            padding: 12px 45px;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: transform 80ms ease-in;
            margin-top: 20px;
        }
        button:active {
            transform: scale(0.95);
        }
        button:focus {
            outline: none;
        }
        button.ghost {
            background-color: transparent;
            border-color: #FFFFFF;
        }
    }
    input {
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 2px solid rgb(36, 36, 36);
        ;
        color: rgb(36, 36, 36);
        ;
    }
    select {
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 2px solid rgb(36, 36, 36);
        ;
        color: rgb(36, 36, 36);
        width: 170px;
    }
}