footer {
    background-color: rgba(16, 16, 16, 0.995);
    height: 30vh;
    color: white;
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    img{
        margin-top: 2rem;
    }
    ul {
        list-style: none;
        display: flex;
        justify-content: right;
        padding-right: 2rem;
    }
    li {
        padding: 0 0.5rem;
    }
    .mat-icon {
        width: 40px;
        height: 40px;
        font-size: 28px;
    }
    .fa-linkedin-in {
        font-size: 29px;
        margin-right: 8px;
    }
}