<footer>
    <div class="container">
        <!-- <img src="../../../../assets/images/logo.png" alt=""> -->
        <h3>Síguenos!</h3>
        <ul>
            <li>
                <mat-icon>facebook</mat-icon>
            </li>
            <li>
                <i class="fab fa-linkedin-in"></i>

            </li>
            <li>
                <mat-icon>alternate_email</mat-icon>

            </li>
            <li>
                <mat-icon>phone_iphone</mat-icon>

            </li>
        </ul>
    </div>
</footer>
