<footer>
<div>
    <h1>Servicio al cliente</h1>
    <ol>
        <li>Contactenos</li>
        <li>Avisos legales</li>
        <li>Terminos y Condiciones Generales</li>
        <li>Testimonios de clientes</li>
        <li>Encargue una obra a un artista</li>
        <li>Manejo de cookies</li>
        <li>Mi perfil</li>
        <li><mat-icon>call</mat-icon></li>
    </ol>
    <h3>¡Síganos!</h3>
    <ul>
    <li>
        <mat-icon>facebook</mat-icon>
    </li>
    <li>
        <mat-icon>linked_camera</mat-icon>

    </li>
    <li>
        <mat-icon>alternate_email</mat-icon>

    </li>
    <li>
        <mat-icon>phone_iphone</mat-icon>

    </li>
</ul>
</div>
</footer>
