footer{
    background-color: rgba(0, 0, 0, 0.851);
    height: 20vh;
    color: white;
    img{
        width: 15%;
        height: 15%;
    }
    h3{
        padding-left: 3rem;
        text-align: right;
        padding-right: 4.5rem;
        padding-top: 2.5rem;
    }
    ul{
        list-style: none;
        display:flex;
        justify-content: flex-end;
        padding-right: 2rem;
    }
    li{
        padding: 0 0.5rem;
            }
}