@import "/src/app/login/login.component.scss";

.centerRows{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

// .transparent{
//     background-color: transparent !important;
// }

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 3px solid #ca63e2;
    color: white;
  }

  ::placeholder {
    color: white;
  }

  .label{
      font-size: 13px;
  }

  .purple{
    color: #ca63e2;  
  }

  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'SUBE TU CV';
    display: block;
    background: #ca63e2; 
    border-radius: 3px;
    padding: 10px ;
    cursor: pointer;
  }
  .custom-file-input:hover::before {
    border-color: #ca63e2;
  }
  .custom-file-input:active::before {
    background: #ca63e2;
  }
