<!-- <h1>DESCUBRE TU COMUNIDAD ARTÍSTICA</h1> -->
<div class="container">
    <video class="video-artistas" controls autoplay src="../../assets/videos/videohome.mp4" loop></video>
</div>
<!-- <div class="parallelogram">
    <div class="card">
        <img src="../../../assets/images/logonofoto.png" alt="">
        <h3>MARC FILCH</h3>
        <p>CANTANTE</p>
        <p>Bajista y percusionista</p>
        <button [routerLink]="['/artista/:id']" mat-raised-button>VER MÁS</button>
    </div>
</div> -->
<div class="grid-artistas">

    <div class="card">
        <img src=" ../../assets/images/artists.png " [routerLink]="[ '/artistas'] " alt=" ">
        <h3>ARTISTAS</h3>
    </div>
    <div class="card ">
        <img src="../../assets/images/dancer.jpg " alt=" ">
        <h3>BAILARINES</h3>
    </div>
    <div class="card ">
        <img src="../../assets/images/writer.jpg " alt=" ">
        <h3>ESCRITORES</h3>
    </div>
    <div class="card ">
        <img src="../../assets/images/guitarristas.jpeg " alt=" ">
        <h3>GUITARRISTAS</h3>
    </div>




</div>