
<div class="center white">
    <h3>BIENVENIDO A TU COMUNIDAD ARTISTICA</h3>
    <div class="parallelogram">
        <form class="center " [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="centerRows formPadding">
                <div class="center formPadding">
                    <input type="text" formControlName="artistic_name" placeholder="NOMBRE ARTISTICO" />
                </div>
                <div class="center formPadding">
                    <input type="text" formControlName="name" placeholder="NOMBRE" class="input"/>
                </div>
                <div class="center formPadding">
                    
                    <input type="text" formControlName="last_name" placeholder="APELLIDOS"/>
                </div>
            </div>
            <div class="centerRows formPadding">
                    <div class="center formPadding">
                        <label class="label">FECHA DE NACIMIENTO</label>
                    <input type="date" formControlName="date_of_birth"/>
                </div>
                <div class="center formPadding">
                    <input type="text" formControlName="city" placeholder="PROVINCIA"/>
                </div>
                <div class="center formPadding">
                    <input type="textarea" formControlName="presentation" placeholder="BIOGRAFIA"/>
                </div>
            </div>
            <div class="centerRows formPadding">
                <div class="center formPadding">
                    <!-- <select [(ngModel)]="artistic_discipline">
                        <option class="purple" *ngFor="let discipline of disciplines" [ngValue]="discipline"></option>
                    </select> -->
                </div>
                <div class="center formPadding">
                    <input class="custom-file-input" type="file" formControlName="cv"/>
                </div>
            </div>
            <div class="centerRows formPadding">
                <div class="center formPadding">
                    <input type="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && loginForm.email.errors }" placeholder="EMAIL" />
                    <div class="errorColor" *ngIf="submitted && loginForm.email.errors">
                        <div *ngIf="loginForm.email.errors.required">Introduce tu email</div>
                        <div *ngIf="loginForm.email.errors.email">Debe ser un email válido</div>
                    </div>
                </div>
                <div class="center">
                    <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && loginForm.password.errors }" placeholder="CONTRASEÑA"/>
                    <div class="errorColor" *ngIf="submitted && loginForm.password.errors">
                        <div *ngIf="loginForm.password.errors.required">Inserta Contraseña</div>
                        <div *ngIf="loginForm.password.errors.minlength">Mínimo 6 caracteres</div>
                    </div>
                </div>
            </div>

            <div class="centerRows formPadding">

                <div class="formPadding" >
                    <button mat-raised-button>
                        SUBIR FOTO DE PERFIL
                    </button>
                </div>
                <div class="formPadding" >
                    <button mat-raised-button>
                        SUBIR ARCHIVOS
                    </button>
                </div>
            </div>
            <div class="formPadding" >
                <button mat-raised-button>
                    REGISTRARSE
                  </button>
            </div>
        </form>
    </div>
</div>



