<div class="header-artistas">
    <h1>ENCUENTRA A TU ARTISTA</h1>
</div>
<app-searcher></app-searcher>
<div class="header-artistas">
    <h1>TODOS NUESTROS ARTISTAS</h1>
</div>

<div class="grid-artistas">
    <div class="parallelogram" *ngFor="let user of users">
        <div class="card">
            <img [src]="user.avatar ? imageUrl + user.avatar : defaultImg" alt="">
            <h3>{{ user.user_name }}</h3>
            <p>{{ user.discipline_id }}</p>
            <p></p>
            <!-- <button [routerLink]="['/artista/:id']" mat-raised-button>VER MÁS</button> -->
            <button [routerLink]="['/artista', user.user_id]" mat-raised-button>VER MÁS</button>
        </div>
    </div>



</div>