@import "/src/app/login/login.component.scss";
.grid-artistas {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, minmax(240px, 1fr));
    gap: 1rem;
    width: 80%;
}

.header-artistas {
    color: white;
    text-align: center;
    background-color: rgba(70, 70, 70, 0.488);
    margin-top: 0;
}

.card {
    // border-radius: 6px;
    padding: 1rem;
    img {
        width: 100%;
    }
}

.mat-raised-button {
    background-color: rgba(0, 0, 0, 0.858);
    margin-top: 0.5rem;
    border: none;
    color: white;
}

.parallelogram {
    width: 100%;
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.256));
}

.parallelogram:before,
.parallelogram:after {
    background-color: white;
}

.parallelogram:before {
    border-radius: 6px;
    transform: scale(1.01, 1.01);
}