<div class="header-artistas">
    <!-- <h1>ENCUENTRA A TU ARTISTA</h1> -->
    <app-searcher (formFilter)="filter($event)"></app-searcher>
</div>


<div class="grid-artistas">
    <div class="bucle-artistas" *ngFor="let user of users">

        <div [ngClass] ="{'redCard': user.deleted === 1, 'card': user.deleted === 0}">
            <img src="http://localhost:3000/images/uploads/{{user.avatar}}">
            <!-- <img [src]="user.avatar ? 'http://localhost:3000/images/uploads/{{user.avatar}}' : defaultImg" alt=""> -->
            <h3><span>{{ user.artistic_name }}</span></h3>

            <!-- necesitamos obtener las disciplinas de cada usuario. Para ello necesitamos que en cada vuelta de bucle enviemos
            el user_id al método de getDisciplinesByUserId -->
            <div class="container-p">
                <p>{{ user.mail}} </p>
            </div>
            <div class="container-p">
                <p>{{ user.location}} </p>
            </div>

            <button [routerLink]="['/artista', user.user_id]" class="button-see-more">VER MÁS</button>
            <button *ngIf="isAdmin" (click)="deleteUser(user.user_id)" class="button-see-more">BORRAR</button>
            <button *ngIf="isAdmin && user.deleted === 0" (click)="hideUser(user.user_id)" class="button-see-more">OCULTAR</button>
            <button *ngIf="isAdmin && user.deleted === 1" (click)="showUser(user.user_id)" class="button-see-more">MOSTRAR</button>
        </div>
    </div>
</div>
